            <!-- header begin -->
            <header class="transparent header-light scroll-light border-bottom">
                <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="04_retro-index.html">
                                            <img alt="" src="" />
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                                <div class="de-flex-col">
                                    
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li>
                                        <a href="04_retro-index.html">Home<span></span></a>
                                        <ul>
                                            <li><a href="04_retro-index.html">Homepage 1</a></li>
                                            <li><a href="04_retro-index-2.html">Homepage 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="04_retro-explore.html">Explore<span></span></a>
                                        <ul>
                                            <li><a href="04_retro-explore.html">Explore</a></li>
                                            <li><a href="04_retro-explore-2.html">Explore 2</a></li>
                                            <li><a href="04_retro-explore-music-nft.html">New: Music NFT</a></li>
                                            <li><a href="04_retro-collection.html">Collections</a></li>
                                            <li><a href="04_retro-live-auction.html">Live Auction</a></li>
                                            <li><a href="04_retro-item-details.html">Item Details</a></li>
                                            <li><a href="04_retro-help-center.html">Help Center</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="04_retro-author.html">Author<span></span></a>
                                        <ul>
                                            <li><a href="04_retro-author.html">Author</a></li>
                                            <li><a href="04_retro-profile.html">Profile</a></li>
                                            <li><a href="04_retro-wallet.html">Wallet</a></li>
                                            <li><a href="04_retro-create-options.html">Create</a></li>
                                            <li><a href="04_retro-login.html">Login</a></li>
                                        </ul>
                                    </li>                                    
                                    <li>
                                        <a href="#">Account<span></span></a>
                                        <ul>
                                            <li><a href="04_retro-activity.html">Profile</a></li>
                                            <li><a onclick = "location.href = '{% url 'logout' %}'">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- mainmenu close -->
                                <div class="menu_side_area">
                                    
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </header>
            <!-- header close -->